In [1]:
import pandas as pd 
import numpy as np

In [2]:
#classes and instances

pd.Series()

<ipython-input-2-4b856f8d32c4>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [3]:
# giving values to series
# series is a constructor which will create a Series object
# first argument to series is a iterable object
# as an input we can pass in lists , dictionaries, numpy arrays,tuples

# create a Series from python list

ice_cream = [
    "choc",
    "van",
    "butter",
    
]
pd.Series(ice_cream)

0      choc
1       van
2    butter
dtype: object

In [4]:
# series with custom index
ice_cream = [
    "choc",
    "van",
    "butter",
    
]

days = ("Mon","Tue","Wed")

pd.Series(ice_cream, index=days)
# here data = ice_cream and index = days

Mon      choc
Tue       van
Wed    butter
dtype: object

In [8]:
# its possible to interchange data and index positions
ice_cream = [
    "choc",
    "van",
    "butter",
    
]

days = ("Mon","Tue","Wed")

pd.Series(days, index=ice_cream)

choc      Mon
van       Tue
butter    Wed
dtype: object

In [9]:
# load data

df = pd.read_csv('../data/movies.csv')

In [10]:
columns = df.columns

In [11]:
index = df.index

In [12]:
data = df.to_numpy()

In [13]:
columns
index
data

array([[1, 'Avengers: Endgame', 'Buena Vista', '$2,796.30 ', 2019],
       [2, 'Avatar', 'Fox', '$2,789.70 ', 2009],
       [3, 'Titanic', 'Paramount', '$2,187.50 ', 1997],
       ...,
       [780, 'Cats & Dogs', 'Warner Brothers', '$200.70 ', 2001],
       [781, 'The Hunt for Red October', 'Paramount', '$200.50 ', 1990],
       [782, 'Valkyrie', 'MGM', '$200.30 ', 2008]], dtype=object)

In [14]:
columns

Index(['Rank', 'Title', 'Studio', 'Gross', 'Year'], dtype='object')

In [15]:
index

RangeIndex(start=0, stop=782, step=1)

In [16]:
df.value_counts()

Rank  Title                   Studio           Gross       Year
1     Avengers: Endgame       Buena Vista      $2,796.30   2019    1
538   Exodus: Gods and Kings  Fox              $268.20     2014    1
516   XXX                     SonR             $277.40     2002    1
517   Spirited Away           Buena Vista      $277.30     2002    1
518   The Bourne Legacy       Universal        $276.10     2012    1
                                                                  ..
264   The Matrix Revolutions  Warner Brothers  $427.30     2003    1
265   The Intouchables        Weinstein        $426.60     2012    1
266   Django Unchained        Weinstein        $425.40     2012    1
267   Beauty and the Beast    Buena Vista      $425.00     1991    1
782   Valkyrie                MGM              $200.30     2008    1
Length: 782, dtype: int64

In [17]:
df.dtypes.value_counts()

object    3
int64     2
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    782 non-null    int64
 1   Title   782 non-null    object
 2   Studio  782 non-null    object
 3   Gross   782 non-null    object
 4   Year    782 non-null    int64
dtypes: int64(2), object(3)
memory usage: 30.7+ KB

In [19]:
# selecting a column
# using index and attribute access (dot notation)

df.columns

Index(['Rank', 'Title', 'Studio', 'Gross', 'Year'], dtype='object')

In [21]:
df["Studio"]

0          Buena Vista
1                  Fox
2            Paramount
3          Buena Vista
4          Buena Vista
            ...
777    Warner Brothers
778                Fox
779    Warner Brothers
780          Paramount
781                MGM
Name: Studio, Length: 782, dtype: object

In [22]:
df.Studio # line # 21 and 22 are same

0          Buena Vista
1                  Fox
2            Paramount
3          Buena Vista
4          Buena Vista
            ...
777    Warner Brothers
778                Fox
779    Warner Brothers
780          Paramount
781                MGM
Name: Studio, Length: 782, dtype: object

In [23]:
# .iloc and .loc will output a series
# .loc pulls out by columns
# .iloc pulls out by index position

# using loc

df.loc[:, "Title"]

0                 Avengers: Endgame
1                            Avatar
2                           Titanic
3      Star Wars: The Force Awakens
4            Avengers: Infinity War
                   ...
777                       Yogi Bear
778             Garfield: The Movie
779                     Cats & Dogs
780        The Hunt for Red October
781                        Valkyrie
Name: Title, Length: 782, dtype: object

In [24]:
df.iloc[:,1]

0                 Avengers: Endgame
1                            Avatar
2                           Titanic
3      Star Wars: The Force Awakens
4            Avengers: Infinity War
                   ...
777                       Yogi Bear
778             Garfield: The Movie
779                     Cats & Dogs
780        The Hunt for Red October
781                        Valkyrie
Name: Title, Length: 782, dtype: object

Above cells mean the same because in df.columns we have Title at index poistion 1

In [25]:
type(df.iloc[:,1])

pandas.core.series.Series

In [26]:
# using dir function we can list out all methods in series object in pandas
series_attr_methods = set(dir(pd.Series))
len(series_attr_methods)

422

In [27]:
dataframe_attr_methods = set(dir(pd.DataFrame))
len(dataframe_attr_methods)

434

In [28]:
len(series_attr_methods & dataframe_attr_methods)

367

In [30]:
df

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

In [31]:
rank = df["Rank"]
title = df["Title"]

In [32]:
rank.dtype

dtype('int64')

In [33]:
title.dtype

dtype('O')

In [35]:
title.value_counts()

Beauty and the Beast                        2
Godzilla                                    2
The Jungle Book                             2
The Mummy                                   2
Teenage Mutant Ninja Turtles                2
                                           ..
The Intouchables                            1
Django Unchained                            1
Dances with Wolves                          1
The Chronicles of Narnia: Prince Caspian    1
Valkyrie                                    1
Name: Title, Length: 773, dtype: int64

In [39]:
title.unique()

array(['Avengers: Endgame', 'Avatar', 'Titanic',
       'Star Wars: The Force Awakens', 'Avengers: Infinity War',
       'Jurassic World', "Marvel's The Avengers", 'Furious 7',
       'Avengers: Age of Ultron', 'Black Panther',
       'Harry Potter and the Deathly Hallows Part 2',
       'Star Wars: The Last Jedi', 'Jurassic World: Fallen Kingdom',
       'Frozen', 'Beauty and the Beast', 'Incredibles 2',
       'The Fate of the Furious', 'Iron Man 3', 'Minions',
       'Captain America: Civil War', 'Aquaman', 'Captain Marvel',
       'Transformers: Dark of the Moon',
       'The Lord of the Rings: The Return of the King', 'Skyfall',
       'Transformers: Age of Extinction', 'The Dark Knight Rises',
       'Toy Story 3', "Pirates of the Caribbean: Dead Man's Chest",
       'Rogue One: A Star Wars Story',
       'Pirates of the Caribbean: On Stranger Tides', 'Despicable Me 3',
       'Jurassic Park', 'Finding Dory',
       'Star Wars: Episode I - The Phantom Menace', 'Alice in Wonderland',
       'Zootopia', 'The Hobbit: An Unexpected Journey', 'The Dark Knight',
       "Harry Potter and the Sorcerer's Stone", 'Despicable Me 2',
       'The Lion King', 'The Jungle Book',
       "Pirates of the Caribbean: At World's End",
       'Jumanji: Welcome to the Jungle',
       'Harry Potter and the Deathly Hallows Part 1',
       'The Hobbit: The Desolation of Smaug',
       'The Hobbit: The Battle of the Five Armies', 'Finding Nemo',
       'Harry Potter and the Order of the Phoenix',
       'Harry Potter and the Half-Blood Prince',
       'The Lord of the Rings: The Two Towers', 'Shrek 2',
       'Bohemian Rhapsody', 'Harry Potter and the Goblet of Fire',
       'Spider-Man 3', 'Ice Age: Dawn of the Dinosaurs', 'Spectre',
       'Aladdin', 'Spider-Man: Homecoming',
       'Harry Potter and the Chamber of Secrets',
       'Ice Age: Continental Drift', 'The Secret Life of Pets',
       'Batman v Superman: Dawn of Justice',
       'The Lord of the Rings: The Fellowship of the Ring',
       'Wolf Warrior 2', 'The Hunger Games: Catching Fire',
       'Guardians of the Galaxy Vol. 2', 'Inside Out', 'Venom',
       'Thor: Ragnarok', 'Star Wars: Episode III - Revenge of the Sith',
       'Transformers: Revenge of the Fallen',
       'The Twilight Saga: Breaking Dawn Part 2', 'Inception',
       'Wonder Woman', 'Spider-Man', 'Independence Day',
       'Fantastic Beasts and Where To Find Them', 'Coco',
       'Shrek the Third', 'Harry Potter and the Prisoner of Azkaban',
       'Pirates of the Caribbean: Dead Men Tell No Tales',
       'E.T.: The Extra-Terrestrial', 'Mission: Impossible - Fallout',
       'Fast & Furious 6',
       'Indiana Jones and the Kingdom of the Crystal Skull', 'Deadpool 2',
       'Spider-Man 2', 'Deadpool', 'Star Wars', 'Guardians of the Galaxy',
       '2012', 'Maleficent', 'The Da Vinci Code',
       'The Amazing Spider-Man', 'The Hunger Games: Mockingjay - Part 1',
       'Shrek Forever After', 'X-Men: Days of Future Past',
       "Madagascar 3: Europe's Most Wanted", 'Suicide Squad',
       'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
       'Monsters University', 'The Matrix Reloaded', 'Up', 'Gravity',
       'Captain America: The Winter Soldier',
       'The Twilight Saga: Breaking Dawn Part 1',
       'Dawn of the Planet of the Apes', 'The Twilight Saga: New Moon',
       'Transformers', 'The Amazing Spider-Man 2', 'It',
       'The Wandering Earth', 'The Twilight Saga: Eclipse',
       'Mission: Impossible - Ghost Protocol', 'The Hunger Games',
       'Mission: Impossible - Rogue Nation', 'Forrest Gump',
       'Doctor Strange', 'Interstellar', 'The Sixth Sense',
       'Man of Steel', 'Kung Fu Panda 2', 'Ice Age: The Meltdown',
       'Justice League', 'Big Hero 6',
       'Pirates of the Caribbean: The Curse of the Black Pearl',
       'Fantastic Beasts: The Crimes of Grindelwald',
       'The Hunger Games: Mockingjay - Part 2',
       'Star Wars: Episode II - Attack of the Clones',
       'Thor: The Dark World', 'Moana', 'Sing', 'The Incredibles',
       'Kung Fu Panda', 'The Martian', 'Fast Five', 'Hancock', 'MIB 3',
       'Iron Man 2', 'Ant-Man and the Wasp', 'How to Train Your Dragon 2',
       'Ratatouille', 'Logan', 'The Lost World: Jurassic Park',
       'The Passion of the Christ', 'Mamma Mia!', 'Life of Pi',
       'Transformers: The Last Knight', 'Madagascar: Escape 2 Africa',
       'Casino Royale', 'Tangled', 'War of the Worlds', 'Men in Black',
       'The Croods', 'The Hangover Part II', 'Quantum of Solace',
       'I Am Legend', 'Iron Man', 'Ready Player One', 'Operation Red Sea',
       'Monsters, Inc.', 'Night at the Museum', 'Fifty Shades of Grey',
       'Kong: Skull Island', 'The Smurfs', 'Cars 2', 'Puss in Boots',
       'The Mermaid (Mei ren yu)', 'Armageddon', 'King Kong', 'Ted',
       'American Sniper', 'Mission: Impossible II',
       'Sherlock Holmes: A Game of Shadows', 'The Day After Tomorrow',
       'Detective Chinatown 2', 'X-Men: Apocalypse', 'Cinderella',
       'Despicable Me', 'Brave', 'World War Z', 'The Empire Strikes Back',
       'WALL-E', 'The Revenant', 'Madagascar', 'The Meg',
       'Ralph Breaks the Internet', 'Godzilla',
       'Hotel Transylvania 3: Summer Vacation', 'The Boss Baby',
       'The Simpsons Movie', 'Dunkirk', 'Sherlock Holmes',
       'Kung Fu Panda 3', 'Terminator 2: Judgment Day', 'Toy Story 4',
       'How to Train Your Dragon: The Hidden World', 'Ant-Man',
       'Meet the Fockers', "Dr. Seuss' The Grinch", 'Ghost', 'Rio 2',
       'Troy', 'Toy Story 2', 'How to Train Your Dragon', 'Twister',
       'Teenage Mutant Ninja Turtles', 'Oz The Great and Powerful',
       'Clash of the Titans', 'War for the Planet of the Apes',
       'Angels & Demons', 'Rio', 'Bruce Almighty', 'Shrek',
       'Saving Private Ryan', 'Rise of the Planet of the Apes',
       'Mr. & Mrs. Smith', 'Home Alone', 'Return of the Jedi',
       'Charlie and the Chocolate Factory', 'Hotel Transylvania 2',
       'Indiana Jones and the Last Crusade', 'San Andreas',
       'Wreck-It Ralph', 'Jaws', 'The LEGO Movie', 'Bumblebee',
       'The Hangover', 'Star Trek Into Darkness', 'The Matrix',
       'Pretty Woman', 'Lucy', 'Cars', 'Gladiator',
       'X-Men: The Last Stand', 'Mission: Impossible',
       'National Treasure: Book of Secrets', 'The Last Samurai', '300',
       "Ocean's Eleven", 'Thor', 'Pearl Harbor', 'Tarzan', 'La La Land',
       'Alvin and the Chipmunks: The Squeakquel', 'The Bourne Ultimatum',
       'Men in Black II', 'Les Miserables', 'The Exorcist',
       'Mrs. Doubtfire', 'Terminator: Genisys', 'The Greatest Showman',
       'A Star is Born', 'Warcraft', 'Terminator 3: Rise of the Machines',
       'The Mummy Returns', 'Die Another Day', 'Cast Away', 'Rampage',
       'Pokemon Detective Pikachu', 'The Matrix Revolutions',
       'The Intouchables', 'Django Unchained', 'Dances with Wolves',
       'The Chronicles of Narnia: Prince Caspian', 'The Mummy',
       'The Chronicles of Narnia: The Voyage of the Dawn Treader',
       'Jason Bourne', 'Sex and the City', 'The Wolverine',
       'Kingsman: The Secret Service', "The King's Speech",
       'Night at the Museum: Battle of the Smithsonian', 'Batman',
       'The Bodyguard', 'Pacific Rim', 'Kingsman: The Golden Circle',
       'Ice Age: Collision Course', 'Signs', 'X2: X-Men United',
       'Alita: Battle Angel', 'Prometheus', 'Gone with the Wind',
       'The Mummy: Tomb of the Dragon Emperor', 'Tron Legacy',
       'Mission: Impossible III', 'Snow White and the Huntsman', 'Grease',
       'Mamma Mia! Here We Go Again', 'Twilight',
       'Solo: A Star Wars Story', 'The Wolf of Wall Street',
       'Superman Returns', 'Robin Hood: Prince of Thieves',
       'Raiders of the Lost Ark', 'Independence Day: Resurgence', 'Home',
       'Star Trek', 'Monster Hunt', 'Happy Feet', 'Cars 3',
       'Live Free or Die Hard', 'Ice Age', 'Fifty Shades Darker',
       'Monsters Vs. Aliens', 'Back to the Future', 'True Lies',
       'Mad Max: Fury Road', 'Godzilla: King of the Monsters',
       'Slumdog Millionaire', 'Taken 2', 'G.I. Joe: Retaliation',
       'Spider-Man: Into The Spider-Verse', 'Batman Begins',
       'What Women Want', 'The Adventures of Tintin', 'Toy Story',
       'X-Men Origins: Wolverine', 'Penguins of Madagascar',
       'The Golden Compass', 'Fifty Shades Freed', 'Terminator Salvation',
       'Captain America: The First Avenger', 'Edge of Tomorrow',
       "There's Something About Mary", 'Gone Girl', 'The Fugitive',
       'Jurassic Park III', 'My Big Fat Greek Wedding', 'Hitch',
       'Shark Tale', 'Die Hard: With A Vengeance', 'The Nun', 'Shazam!',
       'Notting Hill', "A Bug's Life",
       'Night at the Museum: Secret of the Tomb', 'Fast and Furious',
       "Ocean's Twelve", 'Noah', 'Planet of the Apes',
       'The Hangover Part III', 'The World Is Not Enough',
       'Monster Hunt 2', 'Alvin and the Chipmunks', 'The Karate Kid',
       'Home Alone 2: Lost in New York', 'Hotel Transylvania',
       'Minority Report', 'Your Name.', 'Top Gun', 'The Legend of Tarzan',
       'American Beauty', 'Apollo 13', 'Rain Man', 'The Great Gatsby',
       'X-Men: First Class', 'Basic Instinct',
       'Murder on the Orient Express', 'The Angry Birds Movie',
       'GoldenEye', 'Catch Me If You Can', 'Dumbo', 'Now You See Me',
       'Hannibal', 'The Mask', 'Peter Rabbit', 'Speed', 'Dinosaur',
       'Mary Poppins Returns', 'Deep Impact', "Dr. Seuss' The Lorax",
       'The Maze Runner', 'The Smurfs 2', 'National Treasure',
       'Rush Hour 2', 'I, Robot', 'Trolls',
       'xXx: The Return of Xander Cage', 'Pocahontas',
       'How the Grinch Stole Christmas', 'Star Trek Beyond',
       'Alvin and the Chipmunks: Chipwrecked', 'The Flintstones',
       'Wanted', 'A Quiet Place', 'Enchanted', '300: Rise of An Empire',
       'Batman Forever', 'Prince of Persia: The Sands of Time',
       'Over the Hedge', 'Journey 2: The Mysterious Island', 'The Rock',
       'The Great Wall', 'Now You See Me 2',
       'The Curious Case of Benjamin Button',
       'Indiana Jones and the Temple of Doom', 'Tomorrow Never Dies',
       'The Good Dinosaur', 'Back to the Future Part II',
       '22 Jump Street', 'Fantastic Four', 'Meet the Parents',
       'Who Framed Roger Rabbit', 'Black Swan', 'The Perfect Storm',
       'Crocodile Dundee', 'Seven', 'The Devil Wears Prada', 'Taken 3',
       'The Hunchback of Notre Dame', 'A Christmas Carol',
       'The SpongeBob Movie: Sponge Out of Water', "Schindler's List",
       'Megamind', 'Lethal Weapon 3', 'Robin Hood',
       'Inglourious Basterds', '101 Dalmatians', 'The Conjuring 2',
       'Green Book', 'Fatal Attraction', 'The Last Airbender',
       'The Conjuring', 'The Proposal', 'Beverly Hills Cop',
       'Air Force One', 'The Expendables 2', 'Chicken Little',
       'As Good as It Gets', 'A Beautiful Mind',
       'Maze Runner: The Scorch Trials',
       'Resident Evil: The Final Chapter',
       'Austin Powers: The Spy Who Shagged Me', 'The LEGO Batman Movie',
       'The Polar Express', "Ocean's Thirteen", 'Little Fockers', 'Bolt',
       'Ransom', 'Runaway Bride', 'The Blind Side',
       'The Fault in our Stars', 'The Pursuit of Happyness',
       'Rise of the Guardians', 'Close Encounters of the Third Kind',
       'Chicago', 'Annabelle: Creation', 'Wonder', 'Wrath of the Titans',
       'Skyscraper', 'John Wick: Chapter 3 - Parabellum',
       'A Good Day to Die Hard', 'Mulan', 'Passengers', 'Battleship',
       'Dangal', 'Liar Liar', 'G.I. Joe: The Rise of Cobra', 'Hook',
       'Rocky IV', 'Superman', 'Rambo: First Blood Part II',
       'Van Helsing', 'Resident Evil: Afterlife', 'Stuart Little',
       'Beverly Hills Cop II', 'Alice Through the Looking Glass',
       "My Best Friend's Wedding", 'Real Steel', "Ocean's 8",
       'The Divergent Series: Insurgent',
       "Dr. Seuss' Horton Hears a Who!", "Look Who's Talking",
       'Austin Powers in Goldmember',
       "Miss Peregrine's Home for Peculiar Children", 'X-Men',
       'Ferdinand', 'Ghostbusters', 'Shutter Island', 'Doctor Dolittle',
       'Salt', 'G-Force', 'The Departed', 'What Lies Beneath',
       'Pacific Rim Uprising', 'Shakespeare in Love',
       'Fantastic Four: Rise of the Silver Surfer', 'Divergent',
       'Coming to America', 'The Bourne Supremacy', 'Bridesmaids',
       'Sex and the City 2', 'Maze Runner: The Death Cure', 'Casper',
       'Bee Movie', 'American Pie 2', 'Pitch Perfect 2', 'The Green Mile',
       'Oblivion', 'Elysium', 'Lethal Weapon 4', 'Wedding Crashers',
       'John Carter', 'Turbo', "Bridget Jones's Diary", 'Split',
       'The Tourist', 'Scary Movie', 'XXX', 'Spirited Away',
       'The Bourne Legacy', 'Mr. Peabody & Sherman', 'Scooby-Doo',
       'Lincoln', 'Lara Croft: Tomb Raider', 'Tomb Raider',
       'The Expendables', 'Cloudy with a Chance of Meatballs 2',
       'The Nutty Professor', 'Jerry Maguire', 'Bad Boys II',
       'Lilo & Stitch', 'The Silence of the Lambs', 'Grown Ups',
       'Neighbors', 'The Firm', "We're the Millers", 'Gran Torino',
       '10,000 B.C.', 'Epic', 'Exodus: Gods and Kings', 'Paddington',
       'Bambi', 'The Princess and the Frog', 'Batman Returns',
       "Something's Gotta Give", 'Indecent Proposal', 'American Gangster',
       'Waterworld', 'The Truman Show', "Charlie's Angels",
       'The Fifth Element', 'The Incredible Hulk', 'Jumanji',
       'Bridget Jones: The Edge of Reason', 'Knight & Day',
       'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan',
       'Total Recall', "Michael Jackson's This Is It", 'Robots',
       'The Lone Ranger', 'Super 8', 'Mojin: The Lost Legend',
       'Blade Runner 2049', "Charlie's Angels: Full Throttle",
       'Rush Hour 3', 'The Full Monty', 'Annabelle', 'The Village',
       'Lost in Hong Kong', 'Erin Brockovich', 'Halloween', 'Get Out',
       'Cliffhanger', 'Us', 'Kung Fu Yoga', 'Baahubali 2: The Conclusion',
       'Babe', 'Wild Hogs', 'High School Musical 3: Senior Year',
       'Hercules', 'True Grit', 'Bean', 'American Hustle',
       "You've Got Mail", 'Enemy of the State', 'Brother Bear',
       'The Mask of Zorro', 'Eragon', 'The Ring',
       'The Blair Witch Project', 'Unbreakable', 'Dumb and Dumber',
       'Glass', 'Grown Ups 2', 'Love Actually',
       'Journey to the West: The Demons Strike Back', 'The Peanuts Movie',
       'Rango', 'Four Weddings and a Funeral', 'Face/Off',
       'Teenage Mutant Ninja Turtles: Out of the Shadows', 'Dark Shadows',
       'Hulk', "Bienvenue chez les Ch'tis", 'Dark Phoenix',
       'The Godfather', 'Pixels', 'Back to the Future Part III',
       'Rush Hour', 'After Earth', 'A Few Good Men',
       'Cloudy with a Chance of Meatballs', '8 Mile', "Daddy's Home",
       'Marley and Me', 'RoboCop', 'Eraser',
       'Journey to the Center of the Earth', "Assassin's Creed",
       'Alien: Covenant', 'Sully', 'Die Hard 2: Die Harder',
       'Resident Evil: Retribution', 'Crocodile Dundee II', 'Planes',
       'Crazy Rich Asians', 'Batman and Robin', 'Click',
       "Gulliver's Travels", 'Gone in 60 Seconds', 'Saturday Night Fever',
       'Silver Linings Playbook', '2 Fast 2 Furious',
       "Howl's Moving Castle", 'Hidden Figures',
       'A.I. Artificial Intelligence', 'Dead Poets Society', 'Spy',
       'American Pie', 'American Reunion', 'Big Daddy',
       'Alvin and the Chipmunks: The Road Chip', 'The Imitation Game',
       'The Day the Earth Stood Still', 'The Girl with the Dragon Tattoo',
       'Argo', 'The English Patient', 'Sister Act', 'American Wedding',
       'Juno', 'Constantine', 'Get Smart', 'Space Jam', 'The Heat',
       "Mr. Bean's Holiday", 'Life Is Beautiful', 'Ghost Rider',
       'Goodbye Mr. Loser', 'Sleepless in Seattle', 'Lethal Weapon 2',
       'The Green Hornet', 'Out of Africa', 'Paddington 2', 'Baby Driver',
       'Immortals', 'Taken',
       'Percy Jackson & The Olympians: The Lightning Thief',
       'Hansel and Gretel: Witch Hunters', 'Good Will Hunting',
       'The Secret Life of Pets 2',
       'Valerian and the City of a Thousand Planets',
       'The Social Network', 'Chicken Run', 'Con Air',
       'Interview with the Vampire', 'Flightplan', 'Yes Man', 'Non-Stop',
       'Honey, I Shrunk the Kids', 'Fahrenheit 9/11', 'Jumper',
       'Wild Wild West', 'Geostorm', 'Presumed Innocent', 'Elf',
       'Men in Black International', 'Scary Movie 3', 'Inferno',
       'Green Lantern', 'The Terminal', 'What Happens in Vegas',
       "It's Complicated", 'Knocked Up', 'Captain Phillips',
       'The Prince of Egypt', 'Jack Reacher', 'The Emoji Movie',
       'Collateral', 'Dracula Untold', 'Central Intelligence',
       'Million Dollar Baby', 'Ted 2', 'The Help', 'Twins',
       "Valentine's Day", 'Bad Teacher', 'Clear and Present Danger',
       "Bram Stoker's Dracula", 'Vertical Limit', 'Ghostbusters II',
       'The Patriot', "The Sorcerer's Apprentice", 'Just Go With It',
       'The Expendables 3', 'Dirty Dancing', 'Smallfoot', 'Creed II',
       'Public Enemies', 'The Bourne Identity', 'Disclosure',
       'Pulp Fiction', 'The Aviator', 'Crouching Tiger, Hidden Dragon',
       'Braveheart', 'Into the Woods', 'Bedtime Stories',
       'Miss Congeniality', 'Entrapment',
       'Ace Ventura: When Nature Calls',
       'Master and Commander: The Far Side of the World', 'End of Days',
       "Bridget Jones's Baby", 'Battle: Los Angeles', 'Fury', 'Due Date',
       'Kingdom of Heaven', 'The Little Mermaid', 'Australia',
       'District 9', 'Moonraker', 'The Others', 'Horrible Bosses',
       'Red Dragon', 'Tomorrowland',
       "Lemony Snicket's A Series of Unfortunate Events", 'Me Before You',
       'Safe House', 'S.W.A.T.', 'Traffic', 'The Fast and the Furious',
       'Paranormal Activity 3', 'Philadelphia', 'Sleepy Hollow',
       'London Has Fallen', 'Journey to the West', 'JFK',
       'White House Down', 'The Ugly Truth', 'The Holiday',
       "A Dog's Purpose", 'The Break-Up', 'Eat Pray Love', 'King Arthur',
       'Everest', 'Vanilla Sky', 'Arrival', 'Need for Speed', 'Hairspray',
       'Ponyo', 'Patch Adams', 'Fun with Dick and Jane',
       'Kindergarten Cop', 'Straight Outta Compton', '21 Jump Street',
       'Yogi Bear', 'Garfield: The Movie', 'Cats & Dogs',
       'The Hunt for Red October', 'Valkyrie'], dtype=object)

In [40]:
title.count()

782

In [41]:
title.median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0                 Avengers: Endgame
1                            Avatar
2                           Titanic
3      Star Wars: The Force Awakens
4            Avengers: Infinity War
                   ...
777                       Yogi Bear
778             Garfield: The Movie
779                     Cats & Dogs
780        The Hunt for Red October
781                        Valkyrie
Name: Title, Length: 782, dtype: object>

In [46]:
gross = df["Gross"]
type(gross)

pandas.core.series.Series

In [47]:
gross.describe()

count          782
unique         701
top       $225.90
freq             3
Name: Gross, dtype: object

In [48]:
# find null values

gross.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
777    False
778    False
779    False
780    False
781    False
Name: Gross, Length: 782, dtype: bool

In [50]:
# chaining series methods

# Consider the sentence: A person drives to the store to buy food, then drives home and prepares, cooks, serves, and eats the food before cleaning the dishes.

# chanined method will look like:

# (person.drive('store')
#        .buy('food')
#        .drive('home')
#        .prepare('food')
#        .cook('food')
#        .serve('food')
#        .eat('food')
#        .cleanup('dishes')
# )

In [52]:
title.value_counts().head()

Beauty and the Beast            2
Godzilla                        2
The Jungle Book                 2
The Mummy                       2
Teenage Mutant Ninja Turtles    2
Name: Title, dtype: int64

In [56]:
# renaming column names

df.columns # ['Rank', 'Title', 'Studio', 'Gross', 'Year']
column_mapping = {
    "Rank":"rank_of_movie",
    "Title": "title_of_movie"
}
#column_mapping
df.rename(columns=column_mapping).head()

   rank_of_movie                title_of_movie       Studio       Gross  Year
0              1             Avengers: Endgame  Buena Vista  $2,796.30   2019
1              2                        Avatar          Fox  $2,789.70   2009
2              3                       Titanic    Paramount  $2,187.50   1997
3              4  Star Wars: The Force Awakens  Buena Vista  $2,068.20   2015
4              5        Avengers: Infinity War  Buena Vista  $2,048.40   2018

In [57]:
# creating and deleting columns
df["has_seen"] = 0 # by default value is 0 
df

,Rank,Title,Studio,Gross,Year,has_seen
0,1,Avengers: Endgame,Buena Vista,"$2,796.30",2019,0
1,2,Avatar,Fox,"$2,789.70",2009,0
2,3,Titanic,Paramount,"$2,187.50",1997,0
3,4,Star Wars: The Force Awakens,Buena Vista,"$2,068.20",2015,0
4,5,Avengers: Infinity War,Buena Vista,"$2,048.40",2018,0
...,...,...,...,...,...,...
777,778,Yogi Bear,Warner Brothers,$201.60,2010,0
778,779,Garfield: The Movie,Fox,$200.80,2004,0
779,780,Cats & Dogs,Warner Brothers,$200.70,2001,0
780,781,The Hunt for Red October,Paramount,$200.50,1990,0
781,782,Valkyrie,MGM,$200.30,2008,0