<a href="https://colab.research.google.com/github/manjunath-hanmantgad/python-development/blob/master/Feature_Engineering_and_Feature_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle competitions download -c two-sigma-connect-rental-listing-inquiries

Downloading two-sigma-connect-rental-listing-inquiries.zip to /content
 90% 101M/112M [00:01<00:00, 100MB/s]
100% 112M/112M [00:01<00:00, 81.0MB/s]

In [ ]:
! unzip /content/two-sigma-connect-rental-listing-inquiries.zip

Archive:  /content/two-sigma-connect-rental-listing-inquiries.zip
  inflating: Kaggle-renthop.torrent
  inflating: images_sample.zip
  inflating: sample_submission.csv.zip
  inflating: test.json.zip
  inflating: train.json.zip

In [ ]:
! ls

images_sample.zip	sample_submission.csv.zip
kaggle.json		test.json.zip
Kaggle-renthop.torrent	train.json.zip
sample_data		two-sigma-connect-rental-listing-inquiries.zip

In [ ]:
! unzip train.json.zip

Archive:  train.json.zip
  inflating: train.json

In [ ]:
! unzip test.json.zip

Archive:  test.json.zip
  inflating: test.json

### Now that data is downloaded start the process.

In [ ]:
import json
import pandas as pd 

with open('train.json' , 'r') as raw_data:
  data = json.load(raw_data)
  df = pd.DataFrame(data)

df

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,interest_level
4,1.0,1,8579a0b0d54db803821a35a4a615e97a,2016-06-16 05:55:27,Spacious 1 Bedroom 1 Bathroom in Williamsburg!...,145 Borinquen Place,"[Dining Room, Pre-War, Laundry in Building, Di...",40.7108,7170325,-73.9539,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/7170325_3bb5ac84...,2400,145 Borinquen Place,medium
6,1.0,2,b8e75fc949a6cd8225b455648a951712,2016-06-01 05:44:33,BRAND NEW GUT RENOVATED TRUE 2 BEDROOMFind you...,East 44th,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7513,7092344,-73.9722,955db33477af4f40004820b4aed804a0,[https://photos.renthop.com/2/7092344_7663c19a...,3800,230 East 44th,low
9,1.0,2,cd759a988b8f23924b5a2058d5ab2b49,2016-06-14 15:19:59,**FLEX 2 BEDROOM WITH FULL PRESSURIZED WALL**L...,East 56th Street,"[Doorman, Elevator, Laundry in Building, Laund...",40.7575,7158677,-73.9625,c8b10a317b766204f08e613cef4ce7a0,[https://photos.renthop.com/2/7158677_c897a134...,3495,405 East 56th Street,medium
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,medium
15,1.0,0,bfb9405149bfff42a92980b594c28234,2016-06-28 03:50:23,Over-sized Studio w abundant closets. Availabl...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",40.7439,7225292,-73.9743,2c3b41f588fbb5234d8a1e885a436cfa,[https://photos.renthop.com/2/7225292_901f1984...,2795,340 East 34th Street,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124000,1.0,3,92bbbf38baadfde0576fc496bd41749c,2016-04-05 03:58:33,There is 700 square feet of recently renovated...,W 171 Street,"[Elevator, Dishwasher, Hardwood Floors]",40.8433,6824800,-73.9396,a61e21da3ba18c7a3d54cfdcc247e1f8,[https://photos.renthop.com/2/6824800_0682be16...,2800,620 W 171 Street,low
124002,1.0,2,5565db9b7cba3603834c4aa6f2950960,2016-04-02 02:25:31,"2 bedroom apartment with updated kitchen, rece...",Broadway,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.8198,6813268,-73.9578,8f90e5e10e8a2d7cf997f016d89230eb,[https://photos.renthop.com/2/6813268_1e6fcc32...,2395,3333 Broadway,medium
124004,1.0,1,67997a128056ee1ed7d046bbb856e3c7,2016-04-26 05:42:03,No Brokers Fee * Never Lived 1 Bedroom 1 Bathr...,210 Brighton 15th St,"[Dining Room, Elevator, Pre-War, Laundry in Bu...",40.5765,6927093,-73.9554,a10db4590843d78c784171a107bdacb4,[https://photos.renthop.com/2/6927093_93a52104...,1850,210 Brighton 15th St,medium
124008,1.0,2,3c0574a740154806c18bdf1fddd3d966,2016-04-19 02:47:33,Wonderful Bright Chelsea 2 Bedroom apartment o...,West 21st Street,"[Pre-War, Laundry in Unit, Dishwasher, No Fee,...",40.7448,6892816,-74.0017,c3cd45f4381ac371507090e9ffabea80,[https://photos.renthop.com/2/6892816_1a8d087a...,4195,350 West 21st Street,medium
124009,1.0,3,d89f514c3ed0abaae52cba7017ac0701,2016-04-20 05:34:00,***PRIME MIDTOWN EAST OFF PARK AVE***TRUE 3 BE...,E 54th St,"[Dining Room, Elevator, Laundry in Building, D...",40.7594,6901023,-73.9712,e90f2ded843cdb2efd65ef47d9fc8029,[https://photos.renthop.com/2/6901023_02052d90...,4280,123 E 54th St,high

Warning: total number of rows (49352) exceeds max_rows (20000). Limiting to first (20000) rows.

## Feature Extraction



1.   Texts
2.   Images
3.   Geospatial data
4.   Date and time 
5.   Time series and web.

In [ ]:
# 1. Tokenise the text 
'''
Split into tokens ( tokens = words)
'''
# 2. Normalize 
'''
USe stemming and or lemmatisation
'''

# After this the document is now turned from words to vectors.
# first using the Bag of words model.

from functools import reduce 
import numpy as np

texts = [['Hello', 'there'],
         ['how', 'are', 'you'],
         ['doing','on','this','day','?']]

dict_1 = list(enumerate(set(list(reduce(lambda x, y: x + y, texts)))))

def vectorize(text):

  vector = np.zeros(len(dict_1))
  for i , word in dict_1:
    num = 0
    for w in text:
      if w == word:
        num += 1
    if num:
      vector[i] = num 
  return vector

  for t in texts:
    print(vectorize(t))

### Dropping Missing values

In [ ]:
# dropping the missing values from the threshold

threshold = 0.6
# dropping columns higher than threshold 
data = data[data.columns[data.isnull().mean() < threshold]]

# dropping rows higher than threshold
#data = data[data.rows[data.isnull().mean() < threshold]]
data = data.loc[data.isnull().mean(axis=1) < threshold]

### Imputation

In [ ]:
# Numerical imputation

# filling missing values with 0

data = data.fillna(0) 

# filling missing values with medians 

data = data.fillna(data.median())

In [ ]:
# Categorical imputation 
data['column_name'].fillna(data['column_name']).value_counts()
  .idxmax() , inplace=True)

### Handling Outliers

In [ ]:
# using standard deviation and percentiles ( quantile ranges)

# with standard deviation 

'''
If a value has a distance to the average higher than x * standard deviation, it can be assumed as an outlier. Then what x should be?
'''

factor = 3 # if  x = 3
upper_lim = data['column'].mean() + data['column'].std() * factor 
lower_lim = data['column'].mean() - data['column'].std() * factor 

data = data[(data['column'] < upper_lim) & (data['column'] > lower_lim)]

In [ ]:
# Detection with Percentiles 

'''
if your data ranges from 0 to 100, your top 5% is not the values between 96 and 100. Top 5% means here the values that are out of the 95th percentile of data.
'''

# dropping rows with percentile 

upper_lim = data['column'].quantile(.95)
lower_lim = data['column'].quantile(.05)

data = data[(data['column'] < upper_lim) & (data['column'] > lower_lim)]

### Binning

In [ ]:
# this helps in preventing overfitting

data['bin'] = pd.cut(data['value'], bins=[0,30,70,100],
                     labels = ['low','med','high'])

# categorical binning 

conditions = [
    data['Country'].str.contains('Spain'),
    data['Country'].str.contains('Italy'),
    data['Country'].str.contains('Chile'),
    data['Country'].str.contains('Brazil')]

choices = ['Europe', 'Europe', 'South America', 'South America']

data['Continent'] = np.select(conditions, choices, default='Other')

### Log Transform

In [ ]:
'''
The data you apply log transform must have only positive values, otherwise you receive an error. Also, you can add 1 to your data before transform it. Thus, you ensure the output of the transformation to be positive.
'''

### Extracting Date

In [ ]:
'''
Extracting the parts of the date into different columns: Year, month, day, etc.
Extracting the time period between the current date and columns in terms of years, months, days, etc.
Extracting some specific features from the date: Name of the weekday, Weekend or not, holiday or not, etc.
'''

from datetime import date 

data = pd.DataFrame({'date':['01-01-2017',
'04-12-2008',
'23-06-1988',
'25-08-1999',
'20-02-1993']})

In [ ]:
# transform string to date 
data['date'] = pd.to_datetime(data.date, format="%d-%m-%Y")

# extracting the year 
data['year'] = data['date'].dt.year

# extracting month 

data['month'] = data['date'].dt.month 

# extracting passed years since the given date 

data['passed_year'] = date.today().year - data['date'].dt.year

In [ ]:
# extracting passed months since the date 

data['passed_months'] = (date.today().year - data['date'].dt.year) * 12 + date.today().month - data['date'].dt.month
print(data)

        date  year  month  passed_year  passed_months
0 2017-01-01  2017      1            6             73
1 2008-12-04  2008     12           15            170
2 1988-06-23  1988      6           35            416
3 1999-08-25  1999      8           24            282
4 1993-02-20  1993      2           30            360