In [1]:
import pandas as pd

In [3]:
#pd.__version__

#### Series object from python list

In [4]:
ice_cream = ["choclate","vanilla","strawberry","raisin"]
# convert to series
# series is a class
pd.Series(ice_cream) # series takes in data source

0      choclate
1       vanilla
2    strawberry
3        raisin
dtype: object

In [5]:
type(ice_cream)

list

In [6]:
lottery = [1,2,3,4,5,6]
pd.Series(lottery)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
lottery_1 = [1.0,2.0,3,4,5,6]
pd.Series(lottery_1)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

#### Series from python dictionary

In [8]:
dict_1 = {
    "salmon":"orange",
    "tuna":"red",
    "eel":"brown"

}
pd.Series(dict_1)

salmon    orange
tuna         red
eel        brown
dtype: object

In [11]:
type(dict_1)

dict

In [10]:
dict_2 = {
    "salmon":1,
    "tuna":2,
    "eel":3

}
pd.Series(dict_2)

salmon    1
tuna      2
eel       3
dtype: int64

In [12]:
type(dict_2)

dict

In [13]:
#pwd

'C:\\Users\\Manjunath\\Desktop\\interview_prep_documents\\python-development\\Pandas_projects'

In [15]:
sample = ["United States", "France", "Germany", "Italy"]
countries = pd.Series(sample)
countries

0    United States
1           France
2          Germany
3            Italy
dtype: object

In [17]:
# this can directly be written as:

countries = pd.Series(["United States", "France", "Germany", "Italy"])
countries

0    United States
1           France
2          Germany
3            Italy
dtype: object

In [16]:
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}
series_dict = pd.Series(recipe)
series_dict

Flour     True
Sugar     True
Salt     False
dtype: bool

In [18]:
series_dict_1 = pd.Series(recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
})
series_dict_1

TypeError: __init__() got an unexpected keyword argument 'recipe'

bcz __init__ doesnt take the input.It only takes self and temp.

#### Methods on Series objects

In [22]:
prices = pd.Series([1,2,3,4])
prices

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
prices.append(5)
prices

<ipython-input-23-7ff9d6162c68>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  prices.append(5)

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid

In [24]:
prices = pd.Series([1,2,3,4])
prices.append(5)
prices

<ipython-input-24-a7d9d30e3692>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  prices.append(5)

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid

In [34]:
# prices = pd.Series([1.0,2.0,3.0,4.0])
# #prices = [1,2,3,4]
# prices.append(5)
# prices

In [29]:
#prices = pd.Series([1.0,2.0,3.0,4.0])
prices = [1,2,3,4]
prices.append(5)
prices

[1, 2, 3, 4, 5]

Meaning Series object can not use append method on list.

In [31]:
prices = pd.Series([1.0,2.0,3.0,4.0])
#prices = [1,2,3,4]
prices.sum()

10.0

#### Attributes

In [ ]:
# attributes will not have () unlike methods.

In [43]:
adjectives = pd.Series(["good","bad","ugly","beast"])
adjectives
#print(type(adjectives))

0     good
1      bad
2     ugly
3    beast
dtype: object

In [36]:
adjectives.size # see here there is no ()

4

In [38]:
adjectives.is_unique

True

In [41]:
type(adjectives.is_unique)

bool

In [39]:
adjectives.values

array(['good', 'bad', 'ugly', 'beast'], dtype=object)

In [40]:
type(adjectives.values)

numpy.ndarray

In [44]:
adjectives.index

RangeIndex(start=0, stop=4, step=1)

In [45]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [46]:
adjectives.dtype

dtype('O')

In [49]:
adjectives.dtype()

TypeError: 'numpy.dtype' object is not callable

In [48]:
adjectives.dtypes()

TypeError: 'numpy.dtype' object is not callable

The error TypeError: 'numpy.ndarray' object is not callable means that you tried to call a numpy array as a function.

In [56]:
#import pandas as pd

# The Series below stores the number of home runs
# that a baseball player hit per game
home_runs = pd.Series([3, 4, 8, 2])

# Find the total number of home runs (i.e. the sum) and assign it
# to the total_home_runs variable below
total_home_runs = home_runs.sum()
total_home_runs

# Find the average number of home runs and assign it
# to the average_home_runs variable below
average_home_runs = home_runs.mean()
average_home_runs

4.25

#### Parameters and Arguments

In [58]:
# parameter - name we give to expected input
# argument - value we provide to a parameter

''' 
ex:

difficulty - Easy , medium , hard

here difficulty is parameter 
and easy,medium , hard is argument 
'''

' \nex:\n\ndifficulty - Easy , medium , hard\n\nhere difficulty is parameter \nand easy,medium , hard is argument \n'

In [59]:
fruits = ["apple","plum","orange"]
days = ["mon","tue","wed"]
#pd.Series()
''' 
data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
'''
# data , index, dtype etc are parameters
# None , and etc are arguments

" \ndata=None,\n    index=None,\n    dtype: 'Dtype | None' = None,\n    name=None,\n    copy: 'bool' = False,\n    fastpath: 'bool' = False,\n"

In [60]:
pd.Series(fruits)

0     apple
1      plum
2    orange
dtype: object

In [61]:
type(pd.Series(fruits))

pandas.core.series.Series

In [63]:
pd.Series(fruits,days)

mon     apple
tue      plum
wed    orange
dtype: object

In [64]:
type(pd.Series(fruits,days))

pandas.core.series.Series

In [66]:
pd.Series(days,fruits) # as second argment is of 'index'

apple     mon
plum      tue
orange    wed
dtype: object

In [67]:
pd.Series(fruits, index=fruits)

apple      apple
plum        plum
orange    orange
dtype: object