In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('data/movie.csv')

In [3]:
movie[['duration']].head()

   duration
0     178.0
1     169.0
2     148.0
3     164.0
4       NaN

In [4]:
movie = pd.read_csv('data/movie.csv', index_col='movie_title')

In [5]:
movie[['duration']].head()

                                            duration
movie_title
Avatar                                         178.0
Pirates of the Caribbean: At World's End       169.0
Spectre                                        148.0
The Dark Knight Rises                          164.0
Star Wars: Episode VII - The Force Awakens       NaN

Determine whether the duration of each movie is longer than two hours by using the greater than comparison operator with the duration column:

In [6]:
movie[['duration']] > 120

                                            duration
movie_title
Avatar                                          True
Pirates of the Caribbean: At World's End        True
Spectre                                         True
The Dark Knight Rises                           True
Star Wars: Episode VII - The Force Awakens     False
...                                              ...
Signed Sealed Delivered                        False
The Following                                  False
A Plague So Pleasant                           False
Shanghai Calling                               False
My Date with Drew                              False

[4916 rows x 1 columns]

In [7]:
movie_2 = movie['duration'] > 120

In [8]:
movie_2.sum()

1039

In [9]:
movie_2.mean()

0.2113506916192026

In [10]:
movie_2.mean() * 100 # 21 % of movies are greater than 2 hours duration

21.13506916192026

#### Constructing multiple Boolean conditions

find all the movies that have an imdb_score greater than 8, a content_rating of PG-13, and a title_year either before 2000 or after 2009.

In [11]:
cr1= movie.imdb_score > 8
cr2 = movie.content_rating == 'PG-13'
cr3 = (movie.title_year < 2000) | (movie.title_year > 2009)

In [12]:
# combine all criteria
cr = cr1 & cr2 & cr3

In [13]:
cr

movie_title
Avatar                                        False
Pirates of the Caribbean: At World's End      False
Spectre                                       False
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                 False
A Plague So Pleasant                          False
Shanghai Calling                              False
My Date with Drew                             False
Length: 4916, dtype: bool